<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Member Area
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="addMarker()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="home" padding>
  <ion-grid>
    <ion-row style="height: 260px;">
      <div #map id="map"></div>
    </ion-row>

    <ion-row >
      <button ion-button icon-left>
        Start
      </button>

      <button ion-button icon-right>
        Stop
      </button>
    </ion-row>
  </ion-grid>

  <!--<h3>Welcome inside, {{username}}!</h3>-->
  <!--Your Email is: {{email}}-->
</ion-content>
